<launch>
	<arg name="model_name" default="CaffeNet"/>

    <!-- Region potential extract node by MSER -->
    <remap from="mser_region_extraction/compressed/image_compressed" to="/kara/camera_node/image/compressed"/>
    <node name="mser_region_extraction" pkg="placard_detection" type="mser_region_extraction.py"  output="screen" clear_params="true" required="true">
    </node>

    <!-- NCS prediction -->
    <remap from="placard_prediction_ncs/region_proposal" to="/mser_region_extraction/region_proposal"/>
    <remap from="placard_prediction_ncs/image/image_raw" to="/mser_region_extraction/image/image_raw"/>
    <node name="placard_prediction_ncs" pkg="placard_detection" type="placard_prediction_ncs.py"  output="screen" clear_params="true" required="true">
        <param name="model_name" value="$(arg model_name)"/>
    </node>    

</launch>